{% extends 'base.html' %}
{% block content %}
<div class="container margin-top-large">
    <h1 class="secondary-heading uppercase center-align">
        <span class="text-black"> {{ username }}</span>'s account
    </h1>

    <!--Flash messages-->
    <div class="row center-align">
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <p class="text-red">
                {{ message }}
                </p>
            {% endfor %} 
        {% endif %} 
    {% endwith %}
  </div>

  <!--User profile avatar-->
  <div class="row">
    <div class="col s12 center-align">
      <img id="user_avatar"
        src="#"
        class="responsive-img user-avatar" alt="Profile Avatar"/>
    </div>
  </div>

{% endblock %}